{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container-fluid">
        
        <form method="post" class="needs-validation">
            {% csrf_token %}

            <div class="row justify-content-center mt-3">
                    {% for field in form%}
                        <div class="col-3 form-group">
                            {{ field.label_tag }}            
                            {{field}}
                            {{ field.errors }}
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                     {% endfor %}             
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
        

</body>

<script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/cdn.jsdelivr.net_npm_popper.js@1.12.9_dist_umd_popper.min.js' %}"></script>
<script src="{% static 'js/cdn.jsdelivr.net_npm_bootstrap@4.0.0_dist_js_bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/main-script.js' %}"></script>

</html>